body{
    width: 80%;
    text-align: start;
}
img{
   
    height: 250px;
}
.libri{
    display: flex;
    display: ruby-text;
}
.cards{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-bottom: 30px;
   
    
}
 div button{
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(69, 69, 234);
  color: white;
}




